---
title : 'Профиль'

info: [
    {name: 'Почта', value: 'pochta@yandex.ru'},
    {name: 'Логин', value: 'ivanivanov'},
    {name: 'Имя', value: 'Иван'},
    {name: 'Фамилия', value: 'Иванов'},
    {name: 'Имя в чате', value: 'Иван'},
    {name: 'Телефон', value: '+7 (909) 967 30 30'}
]
---

{{#extend "main"}}
  
    {{#content "content"}}

        <div class="profile-information">
            <div class="profile-information__container">
                <div class="profile-information__head">
                    <div class="profile-information__avatar-container">
                        <img src="/static/images/profile/profile__image--empty.png" width="40px" height="40px" alt="Avatar">
                    </div>
                    <div class="title">Иван</div>
                </div>


                <div class="profile-information__content">
                    {{#each info as |element|}}
                        <div class="field">
                            <div class="field__name">{{element.name}}</div>
                            <div class="field__value">{{element.value}}</div>
                        </div>
                    {{/each}}
                </div>

                <div class="profile-information__footer">
                    <div class="field">
                        <div class="field__name">
                            <a href="/src/pages/profile/change/index.hbs" class="link link--blue">Изменить данные</a>
                        </div>
                    </div>

                    <div class="field">
                        <div class="field__name">
                            <a href="/" class="link link--red">Выйти</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="profile-panel">
            <a href="/" class="link profile-panel__link">Назад</a>
        </div>

    {{/content}}

{{/extend}}