$color--white : white;
$color--gray : #999999;
$color--light : #9999992e;
$color--black : #1E1E1E;
$color--blue : #3369F3;
$color--red : red;

$font-weight--bold : bold;
$font-weight--default : 500;
$font-weight--light : 400;

$font-size--small: 9px;
$font-size--default: 13px;
$font-size--big: 16px;